@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap");
:root {
  font-family: "Baloo Paaji 2", cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.toy-container {
  @apply px-4 py-16 mx-auto sm:max-w-xl lg:max-w-screen-lg  2xl:max-w-screen-2xl   lg:py-20 2xl:px-28;
}

.active {
  @apply font-bold text-lg tracking-wide   text-white underline decoration-[#FF8C9A] decoration-2 underline-offset-8;
}
.default {
  @apply font-bold text-lg px-2 text-white tracking-wide  hover:duration-500 hover:rounded-full hover:px-2 hover:bg-[#ff8c9a];
}
.btn-toy {
  @apply bg-[#9363B5] border-0 rounded-full hover:bg-[#ff8c9a];
}

.toy-footer :hover {
  font-weight: 600;
  color: #9363b5;
  cursor: pointer;
}
